body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

#login {
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

#login label {
    font-size: 16px;
    font-weight: bold;
}

#game {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 90%;
    display: flex;
    align-items: stretch;
}

.player {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.opponent {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.player, .opponent {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    width: 50%;
    height: 100%;
    flex: 1;
}

#player-cards, #opponent-cards {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
}

.action{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    flex: 1;
}

.action h3 {
    text-align: center;
    font-size: 16px;
}

.colonne {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    width: 50px;
    height: 75px;
    background-color: #e0e0e0;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    margin: 5px 10px;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#draw-pile, #discard-pile, #draw-result {
    margin: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#draw-pile div, #drawn-card, #discard-card {
    width: 50px;
    height: 75px;
    background-color: #e0e0e0;
    border: 1px solid #ccc;
    box-sizing: content-box;
    margin: 0;
    border-radius: 5px;
    cursor: pointer;
}

#draw-pile div img, #drawn-card img, #discard-card img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

button {
    padding: 10px 20px;
    margin: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

hr {
    width: 100%;
    margin: 20px 0;
}

button:hover {
    background-color: #0056b3;
}

#player-cards .highlight {
    background-color: #90ee90;
    border: 2px solid #008000;
}

.flex {
    display: flex;
    align-items: center;
}

.gap-4 {
    gap: 16px;
}
